<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Anand.Properties.Settings>
            <setting name="MASAPI" serializeAs="String">
                <value>https://eservices.mas.gov.sg/api/action/datastore/search.json</value>
            </setting>
            <setting name="MASResourceID" serializeAs="String">
                <value>5f2b18a8-0883-4769-a635-879c63d3caac</value>
            </setting>
        </Anand.Properties.Settings>
    </applicationSettings>
</configuration>